<%- include('./header') %>

<div class="container">
   

    <section class="intro m-5">
    <div class="mask d-flex align-items-center ">
        <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card" style="border-radius: 1rem;">
                <div class="card-body">

                <div class="my-md-3">

                    <h1 class="fw-bold text-warning text-center mb-4">Create Account</h1>


                    <form action="/customers/register" method="post">
                        <div class="form-group mb-3">
                            <label for="formGroupExampleInput">Name</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Customer Name" name="name">
                        </div>
                        <div class="form-group mb-3">
                            <label for="formGroupExampleInput2">Key</label>
                            <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="Customer Key" name="key">
                        </div>
                        <div class="form-group mb-3">
                            <label for="formGroupExampleInput">Phone Number</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Phone Number" name="phone">
                        </div>
                        <div class="form-group mb-3">
                            <label for="formGroupExampleInput2">Address</label>
                            <input type="text" class="form-control p-4" id="formGroupExampleInput2" name="address">
                        </div>
                        <div>
                            <label class="form-label" for="image">Profile Picture</label>
                            <input type="file" class="form-control" id="image" name="image"/>
                        </div>
                        
                        <div class="mt-3 text-center">
                            <button class="btn btn-warning fw-bold text-white shadow-sm" type="submit">Submit</button>
                        </div>
                    </div>
                        
                    </form>
                    


                </div>

                <div>
                    <p class="mb-1 text-center">Have an account ? 
                        <a href="/customers/login" class="fw-bold text-warning">Sign in</a>
                    </p>
                </div>

                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </section>
</div>
    

